<?xml version="1.0" encoding="utf-8"?>

<Package
        xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
        xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
        xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
        xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
        xmlns:uap18="http://schemas.microsoft.com/appx/manifest/uap/windows10/18"
        xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
        xmlns:uap6="http://schemas.microsoft.com/appx/manifest/uap/windows10/6"
        IgnorableNamespaces="uap rescap uap18 iot uap6">

  <Identity
          Name="17e8aa57-0fba-49f9-8344-bc1c5eed6cbe"
          Publisher="CN=ricco"
          Version="1.0.0.0"/>

  <Properties>
    <DisplayName>UWPTest</DisplayName>
    <PublisherDisplayName>ricco</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0"/>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.26100.0" MaxVersionTested="10.0.26100.0"/>
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
                 Executable="$targetnametoken$.exe"
                 EntryPoint="$targetentrypoint$" uap18:RuntimeBehavior="packagedClassicApp">
      <uap:VisualElements
              DisplayName="UWPTest"
              Description="UWPTest"
              BackgroundColor="transparent"
              Square150x150Logo="Images\Square150x150Logo.png"
              Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Images\SplashScreen.png"/>
      </uap:VisualElements>
      <Extensions>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="com.microsoft.windows.lighting" Id="rgbdotnet" DisplayName="RGB.NET">
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient"/>
    <rescap:Capability Name="runFullTrust"/>
    <Capability Name="codeGeneration"/>
    <uap6:Capability Name="graphicsCapture"/>
    <iot:Capability Name="lowLevelDevices"/>
    <DeviceCapability Name="lowLevel"/>
  </Capabilities>
</Package>
